# avoid including micropython-stubber in workflows.
micropython-stubber

# no pytest / mypy / .... caches
.*_cache
**/__pycache__

# No venv
.venv*

# no documentation artefacts 
*/~*.pptx

# no test files from frozen stubs 
 stubs/**/*_test.p*

# exclude ulab/user module to allow this to be stubbed on a specific firmware
stubs/micropython-ulab/ulab/user/__init__.pyi
docs/_build

#no test results
results

# no scratch pad
scratch 
