# 1.7 introduced the ability to merge stubs using codemods.
micropython-stubber >= 1.7

# for quality reporting
pyright~=1.1
pytest
black


# Section:publishing
# tomli
# tomli-w
# packaging

# pysondb-v2

# click == 8.0.3

# Section: reporting
# google-cloud-bigquery