# 1.7 introduced the ability to merge stubs using codemods.
micropython-stubber >= 1.11.4

# for quality reporting
pyright
pytest
black


# download reporting
ipykernel
google-cloud-bigquery==3.12.0
pandas
matplotlib
ipywidgets 
ipympl # interactive matplotlib figures in jupyter
keyring # for storing credentials

# Section:publishing
# tomli
# tomli-w
# packaging

# pysondb-v2

# click == 8.0.3
