# 1.7 introduced the ability to merge stubs using codemods.
micropython-stubber >= 1.11.4

# for quality reporting
pyright~=1.1
pytest
black


# download reporting
ipykernel
pandas
matplotlib
ipywidgets 
ipympl

# Section: reporting
google-cloud-bigquery==3.12.0


# Section:publishing
# tomli
# tomli-w
# packaging

# pysondb-v2

# click == 8.0.3
