
# Stubs by type 

v2

|Type|family|version|port|board| # |stubber version|stub folder 
|----|------|-------|----|-----|---|---------------|-----
{%+ for info in info_list|sort(attribute="type,family,version,port,board,path") %}
|{{ info.type }}| {{ info.family}}| {{ info.version }}| {{info.port}}| {{info.board}}| {{ info.module_count }}| {{ info.stubber_version }}|[{{ info.path }}](https://github.com/Josverl/micropython-stubs/tree/{{branch}}/{{ info.path }})
{%+ endfor %}


Total modules  {{ info_list | sum(attribute='module_count') }}

