(all-stubs)=

# Overview of firmware stubs 

{% for family, items1 in firmwares | groupby('family') %}

## {{ family | title}} 
| family | version | port    |type | path
|--------|---------|---------|-----|-----
    {% for version, items in items1 | groupby('version' ) %}
        {% for fw in items | sort(attribute="port") %}
{{ "|{0:12}|{1:8.8}|{2:8}|{3}|{4}".format(family, fw.v_version, fw.port, fw.type, fw.path) }}
        {% endfor %}
    {%- endfor %}
{% endfor %}

## Metrics

Total stub modules:  {{ firmwares | sum(attribute='module_count') }}