
# Stubs by type 

|Type|fam|version|-|firmware.release|port|f 
|-|-|-|-|-|-|-
{%+ for info in info_list|sort(attribute="type,family,version,port,path") %}
|{{ info.type }}|{{ info.family}} | {{ info.version }} |  {{ info.module_count }} |{{ info.firmware.release }}|{{ info.port }} | {{ info.path }}
{%+ endfor %}


Total modules  {{ info_list | sum(attribute='module_count') }}


